
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Rolls Royce Wraith 2018 Car Rental in Dubai | Luxury Cars Rental Dubai - Speed Car Rental </title>
    <meta name="description" content=" Rolls Royce Wraith 2018 Luxury Car Rental in Dubai .Speed Car Rental is specialized in providing Luxury Car Rentals and Sports Car rentals in Dubai. Hire Super Cars today"/>
    <meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Speed Car Rental" />
<meta property="og:description" content="Speed Car Rental in Dubai is specialized in providing Luxury Car Rental in Dubai and Sports Car Rental, Exotic Car Rental, Convertible Car Rental. Hire Super Cars like Rolls Royce, Ferrari, Bugatti, Lamborghini, Porsche etc. Experience Dubai in style with a luxury cars for rent . Contact us today for a free quote!" />
<meta property="og:url" content="https://www.bevip.ae/" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="Speed Car Rental in Dubai is specialized in providing Luxury Car Rental in Dubai and Sports Car Rental, Exotic Car Rental, Convertible Car Rental. Hire Super Cars like Rolls Royce, Ferrari, Bugatti, Lamborghini, Porsche etc. Experience Dubai in style with a luxury cars for rent . Contact us us today for a free quote!" />
<meta property="og:image" content="images/favicon.png">

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/speedcar.css">
    <link rel="stylesheet" href="css/seochanges.css">
    <link rel="stylesheet" href="fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/gallery.css"><!-- <link rel="stylesheet" href="css/speedcar.min.css"> -->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1,maximum-scale=1">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4NLWREG52B"></script>
         <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-4NLWREG52B');
    </script>
    
        <script type="application/ld+json"> {
        "@context" : "http://schema.org",
        "@type" : "AutoRental",
        "name":"Speed Cars Rental",
        "url":"https://speedcarsrental.com/",
        "email":"speedcarsrental@gmail.com",
        "telephone":"971509961650",
        "openingHours": [
        "Mo-Sa 12:00-12:00"],
        "aggregateRating":{
        "@type":"AggregateRating",
        "ratingValue":"5",
        "reviewCount":"100"},
        "paymentAccepted":"Visa, Master Card, Discover, Amex, ApplePay, AndroidPay",
        "image":"https://speedcarsrental.com/images/cars/Lamborghini-aventador-for-rent-in-dubai.png",
        "address":"16, Dubai - Near Discovery Gardens UAE",
        "priceRange":"500AED-5000AED"
} 
</script>

</head>

<body>
    <!-- HEADER -->
    <div class="Header HiddenInMob ">
        <div class="Logo"><img src="images/logo-dark.png" alt="Speed Car Rental | Luxury and Sports Car for Rental in Dubai">
        </div>
        <div class="Menu">
            <ul>
                <li><a  href="https://speedcarsrental.com/">Home</a></li>
                <li><a href="coming-soon.html">About</a></li>
                <li><a class="ActiveDark" href="car-list.html">Cars</a></li>
                <li><a href="coming-soon.html">Blog</a></li>
                <li><a href="coming-soon.html">Contact</a></li>
            </ul>
        </div>
        <div class="ContactButtons"><a class="CallButton" href="tel:971509961650"><i class="fa fa-phone"></i> <span>+971
                    5099 61650</span></a></div>
    </div>
    <!-- Banner -->

    <div class="CarDetailPage">
        <div class="DetailsTitleBar">
          <!-- LEFT -->
          <div class="BrandAndModel">
      
            <div class="BackToBtn" onclick="goBack()" >
              <span class="BackIcon"><i class="fa fa-angle-left"></i></span>
            </div>
      
            <div class="Brand">
              <img src="images/brand/rolls-royce.png">
            </div>
            <div class="Model">
              <span> Rolls Royce RR wraith 2018</span>
              <span>Extra Details</span>
            </div>
          </div>
          <!-- RIGHT -->
          <div  class="WhatsappBookBtn">
            <a href="https://wa.me/971509961650/?text= Hi, I'm contacting you through speedcarsrental.com- I would like to rent the listed Audi A6 Convertible - 2019.htmlank">
            <img class="FavIcon" src="images/icons/Whatsapp.svg" />
          </a>
          </div>
        </div>
        <div class="ViewDetailsAndImages">
          <div class="ViewDetails">
            <div class="ViewDetailsWrap">
              <div class="PriceAndMonthlyWrap">
                <div class="PriceBlock">
                  <span>
                    <h3>AED 2700</h3>
                    <h5>PER DAY</h5>
                  </span>
                </div>
                <div class="MonthlyBlock">
                  <span>
                    <h3>AED 65000</h3>
                    <h5>PER Month</h5>
                  </span>
                </div>
      
              </div>
              <div class="CarMainDetailsWrap">
                <div class="RoofType">
                  <span>
                    <p>Roof Type</p>
                    <h3>Non-Convertible </h3>
                  </span>
                </div>
                <div class="Transmission">
                  <span>
                    <p>Transmission</p>
                    <h3>Automatic </h3>
                  </span>
                </div>
                <div class="BodyType">
                  <span>
                    <p>Body Type</p>
                    <h3>Sedan</h3>
                  </span>
                </div>
      
              </div>
            </div>
            <div class="DescriptionAndFeatures">
              <div class="CarNameTitle">
                <div class="BrandLogo" *ngIf="PostData.DealerLogo">
                  <img src="images/brand/rolls-royce.png" />
                </div>
<!-- CAR TITLE  -->
                <h1> Rolls Royce RR wraith 2018
                <!-- CAR TITLE  -->

                <div class="NewIcon" *ngIf="PostData.IsVerified">
                  <img src="images/icons/offer.svg" />
                </div>
              </div>
            </div>
            <div class="Description">
              <p>Rent Rolls Royce Wraith 2018 for the Price of 2700 AED Daily.Free Pickup and Delivery Service to Dubai International Airport.</p>
            </div>
            <div class="FeaturesAndFaqs">
                <div class="Faqs">
                    <ul>
                        <li>
                            <h4>Rolls Royce RR wraith 2018 Engine Specification</h4>
                            <p>Engine type-6.6-liter V-12Engine<br>EngineDisplacement(cc)-6592<br>Max power-591bhp@5000-5500rpm<br>Max Torque-900Nm1700-4500rpm </p>
                        </li>
                        <li>
                            <h4>What insurance include in Rolls Royce RR wraith 2018?</h4>
                            <p>Insurance included-Basic comprehensive. </p>
                        </li>
                        <li>
                            <h4>Rolls Royce RR wraith 2018 Other features</h4>
                            <p> Automatic Transmission<br>Cruise Control<br>GCC Specs<br>Rear Camera<br>Navigation<br>Stereo System</p>
                        </li>
                        <li>
                            <h4>Deposit will be cash or credit card?</h4>
                            <p>Accepted in -Credit Card, Debit Card,Cash. </p>
                        </li>
                        <li>
                            <h4>Pick-up Services</h4>
                            <p>•Branch Pick-up<br>•Delivery to You<br>•Airport Delivery. </p>
                        </li>

                    </ul>
                </div>

                <div class="FeaturesOrWarning">
                    <ul>
                        <li>
                            <h4>Power Steering</h4>
                            
                        </li>
                        <li>
                            <h4>10.2 kmpl Mileage</h4>
                            
                        </li>
                        <li>
                            <h4>Power Windows Front</h4>
                            
                        </li>
                        <li>
                            <h4>Passenger Airbag</h4>
                            
                        </li>
                        <li>
                            <h4>Fog Lights - Front</h4>
                            
                        </li>
                        <li>
                            <h4>Driver Airbag</h4>
                            
                        </li>
                        <li>
                            <h4>Automatic Climate Control</h4>
                            
                        </li>
                    </ul>
                </div>
                <div class="FeaturesOrWarning">
                    <ul>
                        <li class="Warning">
                            <h4>Smoking not allowed and customer will be charged 2000 AED + Tax in case of violation</h4>
                            
                        </li>
                        

                    </ul>
                </div>
            </div>
          </div>
          <div class="ViewImages">
            
                <ul id="lightSlider">
                    <li data-thumb="images/cars/Rolls-royce-wraith-2018-for-rent-in-dubai.jpg">
                        <img src="images/cars/Rolls-royce-wraith-2018-for-rent-in-dubai.jpg" alt="Rolls royce Wraith 2018 | Speed Car Rental | Luxury and Sports Car for Rental in Dubai" />
                    </li>
                  <!---  <li data-thumb="images/car-list/bmw/m5/thumbs/bmw-m5-01-thumb.png">
                        <img src="images/car-list/bmw/m5/bmw-m5-01.png" alt="Speed Car Rental | Luxury and Sports Car for Rental in Dubai" />
                    </li>
                    <li data-thumb="images/car-list/bmw/m5/thumbs/bmw-m5-01-thumb.png">
                        <img src="images/car-list/bmw/m5/bmw-m5-01.png" alt="Speed Car Rental | Luxury and Sports Car for Rental in Dubai" />
                    </li>
                    <li data-thumb="images/car-list/bmw/m5/thumbs/bmw-m5-01-thumb.png">
                        <img src="images/car-list/bmw/m5/bmw-m5-01.png" alt="Speed Car Rental | Luxury and Sports Car for Rental in Dubai" />
                    </li>
                    <li data-thumb="images/car-list/bmw/m5/thumbs/bmw-m5-01-thumb.png">
                        <img src="images/car-list/bmw/m5/bmw-m5-01.png" alt="Speed Car Rental | Luxury and Sports Car for Rental in Dubai" />
                    </li>
                    <li data-thumb="images/car-list/bmw/m5/thumbs/bmw-m5-01-thumb.png">
                        <img src="images/car-list/bmw/m5/bmw-m5-01.png" alt="Speed Car Rental | Luxury and Sports Car for Rental in Dubai" />
                    </li>-->
                </ul>
          

          </div>
        </div>
        <div class="ContactDetails">
          <div class="DepositAndReturn">
            <div class="Deposit">
              <span class="Icon">
                <img class="DepositIcon" src="images/icons/return.svg" />
              </span>
              <span class="Count">
                <small>Deposit :</small> AED 2500
              </span>
            </div>
            <div class="Expiry">
                Refund After: 17 Days
            </div>
          </div>
          <div class="Contacts">
            <a class="ContactIconText"  href="https://wa.me/971509961650/?text= Hi, I'm contacting you through speedcarsrental.com- I would like to rent the listed Audi A6 Convertible - 2019.html. Is it available?">
              
              <span class="ContactIcon">
                <img src="images/icons/Whatsapp-red.svg" />
              </span>
              <span class="ContactLabel" >
                +971509961650
              </span>
            </a>

      <!-- CAN BE USED ON MOBILE AFTER A WHILE -->

            <!-- <div class="ContactIconText" >
              <span class="ContactIcon">
                <img src="images/icons/SMSIcon.svg" />
              </span>
              <a class="ContactLabel">
                +971509961650
              </a>
            </div> -->
      
            <a class="ContactIconText"  href="tel:971509961650">
              <span class="ContactIcon">
                <img src="images/icons/CallIcon.svg" />
              </span>
              <span class="ContactLabel">
                +971 509961650
              </span>
            </a>
          </div>
        </div>
      
      </div>
      


    <div class="footer">
        <h1>keep in touch</h1>
        <h2>Here we are the Speed Cars happy to help you</h2>
        <div class="footer_links">
            <ul>
                <li>16, Dubai - Near Discovery Gardens<br>United Arab Emirates</li>
                <li>Email : speedcarsrental@gmail.com</li>
                <li>Whatsapp:+971 509961650</li>
            </ul>
        </div>
        <div class="footer_bottom">
            <div class="footer_social">
                <ul>
                    <li><a href="https://wa.me/971509961650" target="_blank"><i class="fa fa-eye"></i> Whatsapp</a>
                    </li>
                    <li><a href="https://www.instagram.com/speedcar.rental/" target="_blank"><i
                                class="fa fa-instagram"></i> Instagram</a></li>
                    <li><a href="https://www.facebook.com/speedcarsrental/" target="_blank"><i
                                class="fa fa-facebook"></i> facebook</a></li>
                </ul>
            </div>
            <div class="copy_text">
                <p>© 2020 Speed Cars Rental.<span> All Rights Reserved.</span> Powered By : <a
                        href="https://figcodes.com">figcodes</a></p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="js/menu.js" type="text/javascript" charset="utf-8"></script>
   
    <script>
        $(".drill_cursor").click()
        function goBack() {
          window.history.back();
        }
        
        </script>
    <!-- GALLERY -->
    <script src="https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js"></script>
    <script>
        $('#lightSlider').lightSlider({
    gallery: true,
    item: 1,
    loop:true,
    slideMargin: 0,
    thumbItem: 4,
   
    
});
    </script>
 
    <!--SMOOTH SCROLL-->
   
    <script type="text/javascript" charset="utf-8">
        980 < document.documentElement.clientWidth && $(function () {
            var d = $(".header");
            $(window).scroll(function () {
                var e = $(window).scrollTop();
                e >= $(window).height() + 400 ? d.hasClass("Header_fixed") || (d.hide(), d.removeClass(
                    "header").addClass("Header_fixed").fadeIn(0)) : d.hasClass("header") || (d
                .hide(), d.removeClass("Header_fixed").addClass("header").fadeIn(0))
            })
        })
    </script>
    <script type="text/javascript">
        980 < document.documentElement.clientWidth && $(function () {
            var n = $(window),
                a = 1.2,
                i = 200;
            n.on("mousewheel DOMMouseScroll", function (e) {
                e.preventDefault();
                var o = e.originalEvent.wheelDelta / 80 || -e.originalEvent.detail / 3,
                    l = n.scrollTop(),
                    t = l - parseInt(o * i);
                TweenMax.to(n, a, {
                    scrollTo: {
                        y: t,
                        autoKill: !0
                    },
                    ease: Power1.easeOut,
                    autoKill: !0,
                    overwrite: 5
                })
            })
        })
    </script>
   
</body>

<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'sg3plcpnl0022'},{'id':'7355619'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>

</html>